@import "variables.mixins";
/* general  */
body {
  font-family: "Montserrat", sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background-image: url(../img/header-bcg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  max-height: 800px;
  .header--container {
  }
  &__navbar,
  &__logo,
  &__nav,
  &__nav-list {
    @include flexCenter(row);
  }
  &__navbar {
    justify-content: space-between;
    padding-top: 29.5px;
    color: $color--violet-light;
  }
  &__logo {
  }
  .logo {
    margin-right: 17px;
  }
  .logo-text {
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
  }
  .burger-menu {
    display: none;
  }
  .burger-menu__line { 
  .line--top {
  }
  .line--mdl {
  }
  .line--btm {
  }
  }
 
  &__list--hiden {
    display: none;
  }
  &__nav-item--hiden {
  }
  
  &__nav {
  }
  &__nav-list {
  }
  &__nav-item {
    margin-right: 48px;
    @include fontSize16(15px);
  }
  .btn {
    background-color: $color--violet-light;
    border-radius: 40px;
    color: $color--white;
  }
  .btn-buy {
    padding: 11px 35px;
    @include fontSize16(17px);
  }
  &__content {
    text-align: center;
    margin-top: 110px;
  }
  &__title {
    color: $color--white;
    @include fontH1;
  }
  &__subtitle {
    color: $color--violet-light;
    margin-top: 16px;
    font-family: Lato;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.2px;
  }
  &__descr {
    font-size: 16px;
    line-height: 16px;
    color: $color--gray-light;
    margin-top: 15px;
    text-transform: uppercase;
  }
  
  &__btn { 
    margin-top: 426px;
  }
  .btn-download {
    padding: 20px 61px;
    font-size: 21px;
    font-weight: 700;
    line-height: 22px;
    color: $color--white;
  }
  .btn-descr {
    margin-top: 19px;
    font-size: 14px;
    line-height: 15px;
    color: $color--gray-light;
  }
}
