@import 'variables.mixins';

@media screen and (max-width: 1200px) {
    .container {
      padding: 0 10px;
    }
}
  
@media screen and (max-width: 992px) {

    .editor {
        &__introduction {
            max-width: 689px;
            margin-top: 156px;
            margin-bottom: 98px;
            
            &__title {
                @include fontSize42(42px);
            }

            &__content {
                margin-bottom: 28px;
                margin-right: 0;
            }
        }

        &__features {
            background-color: $color--white;
            padding-top: 62px;

            &__img {
                display: flex;
                justify-content: flex-end;

                img {
                    max-width: 100%;
                }
            }
        }

        .features {
            flex-direction: column;
            align-items: center;

            &__title--media {
                display: block;
                @include fontSize42(44px);
                font-weight: 700;
                color: #8d81ac;
                margin-bottom: 52px;
                text-align: center;
            }

            &__list {
                width: 100%;
                max-width: 732px;
                padding-left: 30px;
            }

            &__item {
                margin-right: 5px;

                &:first-child {
                    margin-right: 35px;
                }

                &:last-child {
                    margin-bottom: 73px;
                }
            }

            &__result {
                display: none;
            }
        }
    }

    .pricing {
        padding-top: 90px;
        padding-bottom: 94px;

        &--container {
            max-width: 768px;
            margin: 0 auto;
        }

        &__title {
            @include fontSize42(44px);
            margin-bottom: 39px;
        }

        &__info {
            flex-wrap: wrap;
            row-gap: 30px;
            column-gap: 25px;
        }
    
        .tariff {
            width: 46%;
            max-width: 257px;

            &:nth-child(3) {
                margin-left: -42px;
                width: 54%;
                max-width: 299px;
            }
        }
    }
}


@media screen and (max-width: 480px) {

    .editor {
        &__introduction {
            padding: 0 14px;
            margin-bottom: 88px;

            &__title {
                font-size: 26px;
                line-height: 28px;
            }

            &__content {
                @include fontSize14_400(20px);
            }

            &__btns {
                flex-wrap: wrap;

                .editor-btn {
                    &__link {
                        padding: 3px 8px;
                    }
                }
            }
        }

        &__features {
            padding-top: 32px;
        }
    
        .features {
            padding: 0 10px;

            &__title--media {
                font-size: 32px;
                line-height: 38px;
                margin-bottom: 36px;
            }

            &__list {
                padding-left: 0;
            }

            &__item {
                flex-direction: column;
                align-items: center;
                text-align: center;
                margin-right: 0;
                margin-bottom: 37px;

                &:first-child {
                    margin-right: 0;
                }
                &:last-child {
                    margin-bottom: 58px;
                }
                &:first-child,
                &:nth-child(2),
                &:nth-child(3),
                &:last-child {
                    img {
                        display: inline-block;
                        margin-bottom: 20px;
                        margin-right: 0;
                    }
                }
            }

            .features-item__content {
                h6 {
                    margin-bottom: 14px;
                }
                p {
                    font-family: 'Lato', sans-serif;
                }
            }
        }
    }

    .pricing {
        padding-top: 0;
        padding-bottom: 12px;

        &__title {
            font-size: 28px;
            margin-bottom: 32px;
        }

        &__info {
            gap: 18px;
        }

        .tariff {
            flex-direction: column;
            gap: 18px;
            width: 100%;

            &:nth-child(3) {
                width: 100%;
                margin-left: 0;
            }
        }
    }
}