@media screen and (max-width: 992px) {

    .container {
        max-width: 768px;
        margin: 0 auto;
    }

    .editor__introduction {
        max-width: 689px;
        margin-top: 88px;
        margin-bottom: 98px;
        
        .editor__introduction__title {
            font-size: 42px;
            line-height: 42px;
        }

        .editor__introduction__content {
            margin-bottom: 28px;
            margin-right: 0;
        }
    }

    .editor__features {
        background-color: $color--white;

        .features {
            display: block;
            padding-top: 62px;

            .title__media {
                display: block;
                font-size: 42px;
                line-height: 44px;
                font-family: Montserrat, sans-serif;
                font-weight: 700;
                color: #8d81ac;
                margin-bottom: 52px;
                text-align: center;
            }

            .features__list {
                width: 100%;
                max-width: 732px;
                padding-left: 30px;
            }

            .features__item {
                margin-right: 5px;

                &:first-child {
                    margin-right: 35px;
                }

                &:last-child {
                    margin-bottom: 73px;
                }
            }

            .features__result {
                width: 100%;
                padding-left: 68px;
                
                .features__title {
                    display: none;
                }
            }
        }
    }

    .pricing {
        padding-top: 90px;
        padding-bottom: 94px;
    }

    .pricing__title {
        font-size: 42px;
        line-height: 44px;
        margin-bottom: 39px;
    }

    .pricing__info {
        flex-wrap: wrap;
        row-gap: 30px;
        column-gap: 25px;
    }
    
    .tariff {
        width: 46%;
        max-width: 257px;

        &:nth-child(3) {
            margin-left: -42px;
            width: 54%;
            max-width: 299px;
        }
    }
}


@media screen and (max-width: 480px) {

    .container {
        min-width: 320px;
        padding: 0 10px;
        margin: 0 auto;
    }

    .editor__introduction {
        .editor__introduction__btns {
            flex-wrap: wrap;
        }
    }
    
    .editor__features {
        .features {

            .features__list {
                padding-left: 0;
            }

            .features__item {
                flex-direction: column;
                align-items: center;
                text-align: center;
                margin-right: 0;
                &:first-child {
                    margin-right: 0;
                }
                &:last-child {
                    margin-bottom: 58px;
                }

                img {
                    display: inline-block;
                    margin-bottom: 20px;
                    margin-right: 0;
                }
            }

            .features__result {
                padding-left: 0;
            }
        }
    }


    .tariff {
        flex-direction: column;
        gap: 18px;
        width: 100%;

        &:nth-child(3) {
            width: 100%;
            margin-left: 0;
        }
    }
}