.testimonials {
  background-image: url(/img/testmonials-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  .testimonials--container {
    padding-top: 109px;
    text-align: center;
  }
  .testimonials__title {
    @include fontH3;
    color: $color--white;
  }
  .testimonials__grid {
    margin-top: 74px;
    display: grid;
    grid-template-columns: repeat(3, 324px);
    row-gap: 93px;
    justify-content: space-between;
    align-items: center
  }
  .testimonials__grid-item {
    
  }

  .testimonials__logo {
  }
  .testimonials__text {
    @include fontSize16(24px);
    color: $color--white;
    margin-top: 20px;
    font-style: italic;
    font-family: Lato;
  }
  .testimonials__descr {
    margin: 119px auto 0;
    position: relative;
    padding-bottom: 19px;
    max-width: 887px;
   
    
    p {
      color: $color--violet-text;
      font-family: Lato;
      font-size: 14px;
      line-height: 21px;
    }
  }
}
